{% extends 'base.html.twig' %}

{% block title %}Typeradio index{% endblock %}

{% block body %}
    <h1>Typeradio index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Radio</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typeradio in typeradios %}
            <tr>
                <td>{{ typeradio.id }}</td>
                <td>{{ typeradio.radio }}</td>
                <td>
                    <a href="{{ path('typeradio_show', {'id': typeradio.id}) }}">show</a>
                    <a href="{{ path('typeradio_edit', {'id': typeradio.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('typeradio_new') }}">Create new</a>
{% endblock %}
