{% extends 'base.html.twig' %}

{% block title %}Medecin{% endblock %}

{% block body %}
    <h1>Medecin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medecin.id }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ medecin.photo }}</td>
            </tr>
            <tr>
                <th>Qualification</th>
                <td>{{ medecin.qualification }}</td>
            </tr>
            <tr>
                <th>Experience</th>
                <td>{{ medecin.experience }}</td>
            </tr>
            <tr>
                <th>Formation</th>
                <td>{{ medecin.formation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('medecin_index') }}">back to list</a>

    <a href="{{ path('medecin_edit', {'id': medecin.id}) }}">edit</a>

    {{ include('medecin/_delete_form.html.twig') }}
{% endblock %}
