{% extends 'base.html.twig' %}

{% block title %}Imageradio index{% endblock %}

{% block body %}
    <h1>Imageradio index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for imageradio in imageradios %}
            <tr>
                <td>{{ imageradio.id }}</td>
                <td>{{ imageradio.nom }}</td>
                <td>{{ imageradio.description }}</td>
                <td>
                    <a href="{{ path('imageradio_show', {'id': imageradio.id}) }}">show</a>
                    <a href="{{ path('imageradio_edit', {'id': imageradio.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('imageradio_new') }}">Create new</a>
{% endblock %}
